@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.limita-largura {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

/* === TOPO === */

.topo-bg {
    background-color:#1885CD;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topo img {
    width: 70px;
    object-fit: contain;
    margin: 15px;
}

.navegacao a{
    color: #bfe1ff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 25px;
    transition: border-bottom 0.1s ease-in-out 0ms;
}

.navegacao a:hover {
    color: #ffffff;
    border-bottom: 3px solid #FFF;
}

/* === BEM VINDO === */

.bem-vindo:not(h1) {
    width: 100%;
    height: 500px;
    background-image: url("assets/imagem-bem-vindo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #E2F0FC;
    font-size: 30px;
    font-weight: 600;
    width: 90%;
}

.txt-bem-vindo {
    height: 500px;
    display: flex;
    align-items: center;
    padding: 20px;
}

/* === ANUNCIO UM === */

.anuncio-1 {
    background-color: #83C7F5;
}

.anuncio {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.txt-anuncio {
    color: #0C2945;
    font-size: 22px;
    font-weight: 600;
}

.botao {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0E4D7E;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.514);
    color: #E2F0FC;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out 0ms;
}

.botao:hover {
    transform: scale(1.07);
}

/* === MAIN === */

/* == SERVICOS == */

.servicos {
    width: 100%;
}

.titulo {
    color: #0C2945;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 39px;
}

.txt-p, .txt-contato {
    width: 100%;
    max-width: 1000px;
    color: #0C2945;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.txt-p p {
    margin-bottom: 22px;
}

.txt-p p:last-child {
    margin-bottom: 59px;
}

.container-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 20px;
}

.img, .portfolio-img {
    width: 300px;
    height: 200px;
    box-shadow: 0 0 8px 1px #00000060;
}

.img img, .portfolio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .img:last-child {
    margin-bottom: 50px;
}

/* == SOBRE == */

.sobre {
    width: 100%;
    background-color: #E2F0FC;
    padding-top: 1px;
    padding-bottom: 1px;
}

.img-sobre {
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: flex;
    margin: 52px auto;
}

.img-sobre img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* === ANUNCIO DOIS === */

.anuncio-2 {
    background-color: #0E4D7E;
}

.txt-anuncio-2 {
    color: #E2F0FC;
}

.botao-2 {
    background-color: #84C7F5;
    color: #0E4D7E;
}

/* == PORTFOLIO == */

.container-img-portfolio {
    justify-content: center;
    gap: 40px;
}

.portfolio-img {
    margin-bottom: 25px;
}

.link-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.link-portfolio p {
    color: #0C2945;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.link-portfolio a {
    margin: 30px auto;
}

/* === FOOTER === */

/* == CONTATO == */

.contato {
    background-color: #114169;
    padding-top: 45px;
}

.titulo-contato {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.txt-contato {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}

.titulo-contato, .txt-contato {
    color: #F1F8FE;
}

.links-contato {
    color: #F1F8FE;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-contato p {
    margin-bottom: 15px;
}

.links-contato a {
    color: #F1F8FE;
    text-decoration: none;
    transition: border-bottom 0.1s ease-in-out 0ms;
}

.links-contato a:hover {
    color: #84C7F5;
    border-bottom: 2px solid #84C7F5;
}

/* == CNPJ == */

.cnpj {
    width: 100%;
    height: 70px;
    background-color: #0C5B98;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

/* == DESENVOLVIDO == */

.desenvolvido {
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #114169;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/* === RESPONSIVO === */

@media (max-width: 1050px) {
    .limita-largura {
        width: 90%;
    }

    .txt-anuncio {
        font-size: 19px;
    }

    .botao {
        max-width: 150px;
        font-size: 15px;
    }
}

@media (max-width:600px) {

    .topo img {
        width: 60px;
        margin-left: 5px;
    }

    .navegacao a {
        font-size: 17px;
        margin-right: 15px;
    }

    .txt-anuncio {
        font-size: 16px;
        padding: 10px;
    }

    .botao {
        font-size: 12px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 500px) {

    .links-contato {
        font-size: 17px;
    }
    
    .links-contato p {
        margin-bottom: 22px;
    }

    .cnpj {
        font-size: 17px;
    }

    .desenvolvido {
        font-size: 17px;
    }
}

@media (max-width: 475px) {
    .navegacao a {
        font-size: 15px;
        margin-right: 10px;
    }

    .links-contato {
        font-size: 15px;
    }
}